---
// src/components/Header.astro
---

<header class="bg-gray-800 text-purple-600 p-4">
  <nav class="container mx-auto flex justify-center gap-4">
    <a href="/" class="font-bold text-xl hover:text-white">Home</a>
    <!-- <div class="font-bold text-xl hover:text-purple-400"> -->
    <a href="/About" class="font-bold text-xl hover:text-white">About</a>
    <a href="/Contact" class="font-bold text-xl hover:text-white">Contact</a>
    <!-- </div> -->
  </nav>
</header>
