---
// src/components/Project.astro
---

<div class="w-full max-w-[985.203px] h-[379px] mx-auto my-10 px=4">
  <div class="container">
    <div
      class="bg-slate-800/50 backdrop-blur-sm border-slate-700 rounded-lg p-6 shadow-lg"
    >
      <h2 class="text-3xl font-bold text-white mb-6 text-center md:text-left">
        Projects
      </h2>

      <div class="card rounded-lg"></div>
    </div>
  </div>
</div>
