---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

const {
    title,
    description = "Portfolio showcasing software development skills, projects, and experience",
} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, inititial-scale=1" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-5N3SRDMJ");
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body class="bg-gray-900 text-slate-300">
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-5N3SRDMJ"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-B548G3XL87"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-B548G3XL87");
        </script>
        <Header />
        <main>
            <slot />
            <SpeedInsights />
        </main>
        <Footer />
    </body>
</html>
